.color-background {
    background-color: #DED3BE;
}


.color-button {
    background-color: #252525;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
.color-button:hover {
    background-color: black;
}


.color-link {
    color: #DED3BE;
}
.color-link:hover {
    color: white;
}


.color-p-footer {
    color: #DED3BE;
}

.email-link {
    color: #252525;
    font-size: 25px;
}
.email-link:hover {
    color: black;
}


/* Estilos por defecto para pantallas grandes (PC) */
.size-img-carousel {
    padding-right: 10px;
    transition: transform 5s ease; /* Cambia 5s a la duración que prefieras */
}

/* Estilos para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
    .size-img-carousel {
        width: 100%; /* Una imagen por fila */
    }
}


.color-footer {
    background-color: #252525;
}